<!--The content below is only a placeholder and can be replaced.-->
<div class="container"><div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <table>
            <br>
            <tr>
                <td><span class="badge badge-primary">{{name+surname}} </span></td>
                <td colspan="2"></td>
                <td><a (click)="logoff()"><span class="badge badge-danger">Çıkış</span></a></td>
                
            </tr>
        </table>

    </div>
</div></div>
<router-outlet></router-outlet>
